.popover {
  :global(.ant-popover-title) {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 16px;
    border: none;
  }
  :global(.ant-popover-inner-content) {
    padding: 0;
    :global(.ant-table) {
      font-size: 12px;
    }
    :global(.ant-table-wrapper) {
      th {
        padding: 2px 0 2px 10px;
        height: 36px;
        border: none;
      }
    }
    :global(.ant-table-placeholder) {
      border: none;
    }
    :global(.ant-table-header) {
      background-color: #f0f3f8;
      &::-webkit-scrollbar {
        width: 6px;
        border: none !important;
      }
    }
    :global(.ant-table-body) {
      overflow: auto !important;
      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
    :global(.ant-table-thead) {
      th {
        background-color: #f0f3f8;
      }
    }
    :global(.ant-table-tbody) {
      tr {
        &:nth-child(even) {
          background-color: #fafafa;
        }
      }
      td {
        padding: 2px 0 2px 10px;
        height: 39px;
        border: none;
      }
    }
  }
}