.formWrap {
  .title {
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
  }
  .operationRow {
    line-height: 22px;
  }
  .btnLogin {
    margin-top: 20px;
    height: 40px;
  }
  input {
    height: 42px !important;
  }
}