html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

// Input
.ant-input-affix-wrapper {
  .ant-input {
    padding: 2px 8px;
    height: 28px;
    border-radius: 0;
    color: #333333;
    &:focus {
      box-shadow: 0 0 0 0;
    }
  }
  .ant-input-suffix {
    .ant-input-clear-icon {
      color: #a1a1a1;
    }
  }
}

// PaginationTable
.PaginationTable {
  .ant-table {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #333333;
  }
  .ant-table-thead {
    line-height: 36px;
    > tr > th {
      padding: 0 0 0 15px;
      background-color: #f0f3f8;
    }
  }
  .ant-table-tbody {
    line-height: 36px;
    > tr {
      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
      > td {
        padding: 0 0 0 15px;
      }
    }
  }
}
