$--color-link-normal: #1a1098;
$--color-link-hover: #2012d8;

@mixin yiwiseIconKlass {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  a {
    color: $--color-link-normal;
    &:hover {
      color: $--color-link-hover;
    }
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

// Input
.ant-input-affix-wrapper {
  .ant-input {
    padding: 2px 8px;
    height: 28px;
    border-radius: 0;
    color: #333333;
    &:focus {
      box-shadow: 0 0 0 0 !important; // error情况下也有box-shadow的设置，这里直接!important
    }
  }
  .ant-input-suffix {
    .ant-input-clear-icon {
      color: #a1a1a1;
    }
  }
}

// PaginationTable
.PaginationTable {
  .ant-table {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #333333;
  }
  .ant-table-thead {
    line-height: 36px;
    > tr > th {
      padding: 0 0 0 15px;
      background-color: #f0f3f8;
    }
  }
  .ant-table-tbody {
    line-height: 36px;
    > tr {
      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
      > td {
        padding: 0 0 0 15px;
      }
    }
  }
}
// Modal
.ant-modal {
  .ant-modal-content {
    .ant-modal-close-x {
      width: 47px;
      height: 47px;
      line-height: 47px;
    }
    .ant-modal-header {
      padding: 12px 20px;
      .ant-modal-title {
        color: #333333;
        font-size: 14px;
      }
    }
  }
}

// Select
.ant-select {
  &.ant-select-open {
    .ant-select-arrow {
      .ant-select-arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
  .ant-select-selection {
    border-radius: 0;
    &:focus {
      box-shadow: 0 0 0 0;
    }
    .ant-select-selection__rendered {
      margin-left: 10px;
    }
    .ant-select-arrow {
      .ant-select-arrow-icon {
        color: #656565;
        transition: transform 0.3s;
        &:after {
          content: '\e701';
          @include yiwiseIconKlass;
        }
        svg {
          display: none;
        }
      }
    }
  }
}
